* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
.container {
  width: 100vw;
  height: 100vh;
}
.header {
  display: flex;
  width: 100vw;
  height: 15%;
}
.main {
  width: 100vw;
  height: 75%;
  background-color: bisque;
}
.footer {
  display: flex;
  width: 100vw;
  height: 10%;
}
